<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Anagrams!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style type="text/css">
            .loading-indicator:before {
                content: '';
                background: #000000cc;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1000;
            }

            .loading-indicator:after {
                content: 'Loading GIFs';
                position: fixed;
                width: 100%;
                top: 50%;
                left: 0;
                z-index: 1001;
                color:white;
                text-align:center;
                font-weight:bold;
                font-size:1.5rem;
            }
            .anagram-img {
                vertical-align: top;
                max-width: 100%;
                height: 300px;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
